.list-div {
  width: 256px;
}

.button-default {
  height: 120px;
  width: 256px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-new {
  background: rgb(240, 130, 130);
}

.title {
  font-size: 20px;
  text-align: left;
  text-decoration: underline;
}
.snippet {
  max-width: 90%;
  font-size: 14px;
  line-height: normal;
  text-align: left;
}

.button-clicked {
  background: rgb(90, 74, 182);
}

.delete {
  min-width: 32px;
  padding: 0px;
}
